---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const notesEntries = await getCollection('notes');
  return notesEntries.map((entry: any) => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

//const { entry } = Astro.props;
//const { Content } = await entry.render();
---
<Layout title="Notes">
  <body>
  </body>
</Layout>
