---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
    <p>I am a software developer in Austin, Texas. I'm primarily interested in distributed systems, security, and privacy.</p>

    <p>For more information, you may be interested in my <a href="https://github.com/mhartenbower">Github</a> or <a href="https://www.linkedin.com/in/matt-h-01359040/">LinkedIn</a>.</p>

    <p>I can be reached at matt @ this domain.</p>
	</main>
</Layout>
