---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <nav>
      <a href="/">home</a>
      <a href="/notes">notes</a>
      <a href="/projects">projects</a>
      <a href="/about">about</a>
    </nav>
    <slot />
	</body>
<style>
  nav {
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1.5em;
  }
  a:visited {
    color: inherit;
  }
  a {
    padding-right: .5em;
  }
  body {
    display: grid;
    place-items: center;
    font-family: 'EB Garamond', serif;
    color: #2a3f6a;
  }
  @font-face {
    font-family: 'EB Garamond';
    src: '/fonts/EBGaramond-VariableFont_wght.ttf' format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
</html>
